<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Km </th>
	<th>Open</th>
	<th>Close</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
  var DB_CALC_URL = SCRIPT_ROOT + "/submit";
  var DISPLAY_URL = SCRIPT_ROOT + "/display";
  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var begin_date = $("input[name='begin_date'").val();
    var begin_time = $("input[name='begin_time'").val();
    var distance = $("select[name='distance'").val();
    var location = $("input[name='location'").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    console.log("calc_times called")
    console.log("km: " + km + " begin: " + begin_date + " " + begin_time + " distance: " + distance + "open: " + open_time_field + "close: " + close_time_field )

    $.getJSON(TIME_CALC_URL, { km: km, begin_date: begin_date, begin_time: begin_time, distance: distance }, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         console.log("Response.close = " + times.close);

        open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
        close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
         
       } // end of handler function
     );// End of getJSON
     

    }
    function insert_db(dataObj) {
        var db = dataObj;
        console.log("DB: " + db);
        $.getJSON(DB_CALC_URL, {db: db},
            function(data) {
                
                
                console.log("DB RESPONSE: " + dataObj);
             
            });
    }

   

  $(document).ready(function(){
   // Do the following when the page is finished loading

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var control_entry = $(this).parents(".control");
             // Then calculate times for this entry
             console.log('here');
             calc_times(control_entry);
          });

     $("#submit").click(function() {
          var dataArray = $('form').serializeArray();
          dataObj = [];
        //{"distance":"200","begin_date":"2017-01-01","begin_time":"00:00","km":"","open":"","close":""}
          brevetObj = {};
          var brevetIdx = 0;
          var begin_date = $("input[name='begin_date'").val();
          var begin_time = $("input[name='begin_time'").val();
          var distance = $("select[name='distance'").val();
          var headerObj = {};
          headerObj["begin_date"] = begin_date;
          headerObj["begin_time"] = begin_time;
          headerObj["distance"] = distance;
          dataObj.push(JSON.stringify(headerObj));
          $(dataArray).each(function(i, field){
              if(field.name == "km" && field.value) { // first element of a row and it has a value
                  if(isNaN(field.value) || field.value < 0) {
                    alert("at least one brevet field is not a valid entry");
                  }
                  brevetObj = {}; // clear existing brevet data
                  brevetObj[field.name] = field.value;
              } else if(field.name == "open" && field.value) {
                  brevetObj[field.name] = field.value;
              } else if(field.name == "close" && field.value) {
                  brevetObj[field.name] = field.value;
                  brevetObj["id"] = brevetIdx;
                  brevetIdx += 1;
                  dataObj.push(JSON.stringify(brevetObj));
              } 
              console.log(dataObj[field.name])
          });
          console.log("DATA OBJ: " + String(dataObj));
          console.log(String(dataObj).length);
          console.log(String(dataObj).length <= 66);
          //error alerts
          if(String(dataObj).length <= 66) { // just header
            alert("no brevet data entered! only displaying header");  
            }
     
             // Then enter into database
             insert_db(String(dataObj));
     });
  });   // end of what we do on document ready

</script>

<span style="float:left">
<form action="/_clear" method="POST">
    <button id="clear" method="POST" type="submit" name="action" action="/_clear" method="POST" value="clear">Clear</button>
</form>
</span>
<span style="float:left">
<form >
    <button id="submit" type="submit">Submit</button>  
</form>
</span>
<span style="float:left">
<form action="/display" method="POST">
    <button id="display" type="submit" name="action" action="/display" method="POST" value="display">Display</button>
</form>
</span>


    
</div>
</body> </html>
